<ion-view view-title="New Character">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="charName">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Profession
        </div>
        <select ng-options="profession.name for profession in professions" ng-model="professionSelect" ng-change="change(professionSelect)">
        </select>
      </label>
    </div>


    <div class="list" ng-model="selectedProfession">
      <a class="item item-icon-left" href="#">
        <i class="icon icon-beams-aura"></i> Charisma
        <span class="badge badge-positive">
          {{selectedProfession.charisma}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon icon-crossed-swords"></i> Combat
        <span class="badge badge-positive">
          {{selectedProfession.combat}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon icon-magic-palm"></i> Magic
        <span class="badge badge-positive">
          {{selectedProfession.magic}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon icon-jeweled-chalice"></i> Sanctity
        <span class="badge badge-positive">
          {{selectedProfession.sanctity}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon icon-walking-boot"></i> Scouting
        <span class="badge badge-positive">
          {{selectedProfession.scouting}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon icon-skeleton-key"></i> Thievery
        <span class="badge badge-positive">
          {{selectedProfession.thievery}}
        </span>
      </a>
    </div>
    <button class="button button-block button-positive" ng-click="createChar(selectedProfession)">
      Create
    </button>
  </ion-content>
</ion-view>
